* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 9rem;
    color: transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    position: relative;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-color);
    font-size: 3rem;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    border: var(--border);
    color: var(--main-color);
    background: none;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background: #e4d5ae;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 1.5rem 9%;
}

.header .logo {
    color: var(--main-color);
    font-size: 2.3rem;
}

.header .logo i {
    padding-left: .5rem;
}

.header .navbar a {
    margin: 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}

.header .btn {
    margin-top: 0;
}

#menu-btn {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

.home {
    min-height: 100vh;
    padding-top: 12rem;
    background: url(../image/top-view-cup-coffee.jpg) ;
    background-position: center;
    background-size: cover;
}

.home .row .content {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    margin-top: 22rem;

}

.home .row .content h3 {
    font-size: 4.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    
    
}
.home .row .content h3:first-child{
    color: #C69263;
}

.home .row .content h3:nth-child(2){
    color: whitesmoke;
}

.home .btn{
    margin-top: 80px;
}
.home .btn:hover{
    background-color: #C69263;
}
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  .header1 {
    background-color: #f5d5b9;

    padding: 30px 40px;
    color: white;
    text-align: center;

  }
  
.imagine{
    height: 40px;
    width: 400px;
}